
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 col-sm-6">
          {% include "about-widget" %}
        </div>

        <div class="col-md-12 col-sm-6">
          {% include "help-info-widget" %}
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-6">
      {% include "shopping-widget" %}
    </div>

    <div class="col-md-2 col-sm-6">
      {% include "more-link-widget" %}
    </div>

    <div class="col-md-4 clearleft">
      {% include "like-me-widget" %}

      {% include "payments-widget" %}
      
      {% if settings.newsletter_form_action != blank %}
      {% assign form_action = settings.newsletter_form_action %}
      {% else %}
      {% assign form_action = '//myshopify.us12.list-manage.com/subscribe/post?u=9ade7b39da179308b891bd263&amp;id=e9dbec7f92' %}
      {% endif %}
      {%assign newletter_title= settings.newletter_title %}
      {%assign newletter_des= settings.newletter_des %}
      {%assign newletter_button= settings.newletter_button %}
      {%assign newletter_input= settings.newletter_input %}
      {%if newletter_title != ""%}
      <div class="widget">
        <h3 class="widget-title">{{newletter_title}}</h3>

        <div class="widget-content">
          <div class="subscrible-form">
            <p class="small">{{newletter_des}}</p>

            <form action="{{form_action}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
              <div class="form-group-row">
                <div class="form-group">
                  <label for="subscribe-email" class="sr-only">{{'contact.form.email'|t}}</label>
                  <input type="email" id="subscribe-email" class="form-control" placeholder="{{newletter_input}}">
                </div>

                <div class="form-submit">
                  <button type="submit" class="btn btn-lg btn-white btn-outline">{{newletter_button}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div><!-- /.widget -->
      {%endif%}
    </div>
  </div>
</div>
