
<section class="banner-v3">
  <div class="container">
<div class="home-trending padding-top-50">
    <div class="row">

      <div class="col-md-3 col-sm-3 col-xs-6 margin-bottom-30">
        <div class="awe-media home-cate-media">
          <div class="awe-media-header">
            <div class="awe-media-image">
            <a href="{{settings.banner_v3_url1}}">
              <img src="{{'banner_v3_image1.jpg'|asset_url}}" alt="">
              </a>
            </div><!-- /.awe-media-image -->

          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 margin-bottom-30">
        <div class="awe-media home-cate-media">
          <div class="awe-media-header">
            <div class="awe-media-image">
            <a href="{{settings.banner_v3_url2}}">
              <img src="{{'banner_v3_image2.jpg'|asset_url}}" alt="">
              </a>
            </div><!-- /.awe-media-image -->

          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 margin-bottom-30">
        <div class="awe-media home-cate-media">
          <div class="awe-media-header">
            <div class="awe-media-image">
              <a href="{{settings.banner_v3_url3}}">
              <img src="{{'banner_v3_image3.jpg'|asset_url}}" alt="">
              </a>
            </div><!-- /.awe-media-image -->
          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->
      </div>
   </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 margin-bottom-30">
        <div class="awe-media home-cate-media">
          <div class="awe-media-header">
            <div class="awe-media-image">
              <a href="{{settings.banner_v3_url4}}">
              <img src="{{'banner_v3_image4.jpg'|asset_url}}" alt="">
              </a>
            </div><!-- /.awe-media-image -->
          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 margin-bottom-30">
        <div class="awe-media home-cate-media">
          <div class="awe-media-header">
            <div class="awe-media-image">
            <a href="{{settings.banner_v3_url5}}">
              <img src="{{'banner_v3_image5.jpg'|asset_url}}" alt="">
              </a>
            </div><!-- /.awe-media-image -->

          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 margin-bottom-30">
        <div class="awe-media home-cate-media">
          <div class="awe-media-header">
            <div class="awe-media-image">
            <a href="{{settings.banner_v3_url6}}">
              <img src="{{'banner_v3_image6.jpg'|asset_url}}" alt="">
              </a>
            </div><!-- /.awe-media-image -->

          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->
      </div>
      

</div>
</div><!-- /.home-trending -->

  </div><!-- /.container -->
</section><!-- /section -->