

 <section class="site-banner banner-v1">
    <div class="page-section no-padding">
      <div class="row no-gutters">
        <div class="col-md-3">
          <div class="banner banner-dark no-margin">
           <div class="banner-image">
            <img src="{{'banner1_image.jpg'| asset_url }}" alt="">
            </div>
            <div class="banner-content">
              <h5 class="white">{{settings.banner1_subtitle}}</h5>
              <h3 class="white">{{settings.banner1_title}}</h3>
              <a href="{{settings.banner1_url}}" class="btn btn-light-b">{{settings.banner1_text_button}}</a>
            </div>

          </div>
        </div>
        <div class="col-md-3">
          <div class="banner banner-dark no-margin">
            <div class="banner-image">
            <img src="{{'banner2_image.jpg'| asset_url }}" alt="">
            </div>
            <div class="banner-content">
              <h5 class="white">{{settings.banner2_subtitle}}</h5>
              <h3 class="white">{{settings.banner2_title}}</h3>
              <a href="{{settings.banner2_url}}" class="btn btn-light-b">{{settings.banner2_text_button}}</a>
            </div>

          </div>
        </div>
        <div class="col-md-3">
          <div class="banner banner-dark no-margin">

             <div class="banner-image">
            <img src="{{'banner3_image.jpg'| asset_url }}" alt="">
            </div>

            <div class="banner-content">
             <h5 class="white">{{settings.banner3_subtitle}}</h5>
              <h3 class="white">{{settings.banner3_title}}</h3>
              <a href="{{settings.banner3_url}}" class="btn btn-light-b">{{settings.banner3_text_button}}</a>
            </div>

          </div>
        </div>
        <div class="col-md-3">
          <div class="banner banner-dark no-margin">

             <div class="banner-image">
            <img src="{{'banner4_image.jpg'| asset_url }}" alt="">
            </div>

            <div class="banner-content">
              <h5 class="white">{{settings.banner4_subtitle}}</h5>
              <h3 class="white">{{settings.banner4_title}}</h3>
              <a href="{{settings.banner3_url}}" class="btn btn-light-b">{{settings.banner3_text_button}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

