<div class="product product-grid product-item clearfix">
  <div id="product-4393761219" class="product-inner" data-publish-date="2015-12-22 05:06:00 -0500">
    <div class="product-media ">
      <div class="product-thumbnail">
        <a href="/admin/products/new" title="">
          <img class="product-featured-image current" src="{{'p5.png'| asset_url}}" alt="EXAMPLE PRODUCT">
          <img class="" src="{{'p2.png'| asset_url}}" alt="EXAMPLE PRODUCT">
        </a>
      </div><!-- /.product-thumbnail -->


      <div class="product-hover">
        <div class="product-actions">
          <form action="/cart/add" method="post" class="variants" id="AddToCartForm-4393761219" enctype="multipart/form-data">    

            <a class="btn-select-option awe-button product-add-cart" data-toggle="tooltip" title="" href="/admin/products/new" data-original-title="Select options"><i class="icon icon-shopping-bag"></i></a>


          </form>  

          <a class=" awe-button" href="/admin/products/new" data-toggle="tooltip" title="" data-original-title="Add to whistlist">
            <i class="icon icon-star"></i>
          </a>



          <a href="/admin/products/new" id="gin-lane-greenport-cotton-shirt-4" class="awe-button product-quick-view " data-toggle="tooltip" title="" data-original-title="Quickview">
            <i class="icon icon-eye"></i>
          </a>
        </div>
      </div><!-- /.product-hover -->

    </div><!-- /.product-media -->

    <div class="product-body">
      <h2 class="product-name">

        <a href="/admin/products/new" title="EXAMPLE PRODUCT">EXAMPLE PRODUCT</a> 
      </h2><!-- /.product-product -->

      <div class="product-category">

        <span>Shirt</span>


      </div><!-- /.product-category -->

      <div class="product-price">
        <span class="amout">


          <span><span class="money" data-currency-usd="$259.00">$259.00</span></span>
          <del class="sale-price"><span class="money" data-currency-usd="$300.00">$300.00</span></del> 
        </span>

      </div><!-- /.product-price -->
    </div><!-- /.product-body -->


  </div>
</div>
<div class="product product-grid product-item clearfix">
  <div id="product-4393761219" class="product-inner" data-publish-date="2015-12-22 05:06:00 -0500">
    <div class="product-media ">
      <div class="product-thumbnail">
        <a href="/admin/products/new" title="">
          <img class="product-featured-image current" src="{{'p6.png'| asset_url}}" alt="EXAMPLE PRODUCT">
          <img class="" src="{{'p2.png'| asset_url}}" alt="EXAMPLE PRODUCT">
        </a>
      </div><!-- /.product-thumbnail -->


      <div class="product-hover">
        <div class="product-actions">
          <form action="/cart/add" method="post" class="variants" id="AddToCartForm-4393761219" enctype="multipart/form-data">    

            <a class="btn-select-option awe-button product-add-cart" data-toggle="tooltip" title="" href="/admin/products/new" data-original-title="Select options"><i class="icon icon-shopping-bag"></i></a>


          </form>  

          <a class=" awe-button" href="/admin/products/new" data-toggle="tooltip" title="" data-original-title="Add to whistlist">
            <i class="icon icon-star"></i>
          </a>



          <a href="/admin/products/new" id="gin-lane-greenport-cotton-shirt-4" class="awe-button product-quick-view " data-toggle="tooltip" title="" data-original-title="Quickview">
            <i class="icon icon-eye"></i>
          </a>
        </div>
      </div><!-- /.product-hover -->

    </div><!-- /.product-media -->

    <div class="product-body">
      <h2 class="product-name">

        <a href="/admin/products/new" title="EXAMPLE PRODUCT">EXAMPLE PRODUCT</a> 
      </h2><!-- /.product-product -->

      <div class="product-category">

        <span>Shirt</span>


      </div><!-- /.product-category -->

      <div class="product-price">
        <span class="amout">


          <span><span class="money" data-currency-usd="$259.00">$259.00</span></span>
          <del class="sale-price"><span class="money" data-currency-usd="$300.00">$300.00</span></del> 
        </span>

      </div><!-- /.product-price -->
    </div><!-- /.product-body -->


  </div>
</div>
<div class="product product-grid product-item clearfix">
  <div id="product-4393761219" class="product-inner" data-publish-date="2015-12-22 05:06:00 -0500">
    <div class="product-media ">
      <div class="product-thumbnail">
        <a href="/admin/products/new" title="">
          <img class="product-featured-image current" src="{{'p7.png'| asset_url}}" alt="EXAMPLE PRODUCT">
          <img class="" src="{{'p2.png'| asset_url}}" alt="EXAMPLE PRODUCT">
        </a>
      </div><!-- /.product-thumbnail -->


      <div class="product-hover">
        <div class="product-actions">
          <form action="/cart/add" method="post" class="variants" id="AddToCartForm-4393761219" enctype="multipart/form-data">    

            <a class="btn-select-option awe-button product-add-cart" data-toggle="tooltip" title="" href="/admin/products/new" data-original-title="Select options"><i class="icon icon-shopping-bag"></i></a>


          </form>  

          <a class=" awe-button" href="/admin/products/new" data-toggle="tooltip" title="" data-original-title="Add to whistlist">
            <i class="icon icon-star"></i>
          </a>



          <a href="/admin/products/new" id="gin-lane-greenport-cotton-shirt-4" class="awe-button product-quick-view " data-toggle="tooltip" title="" data-original-title="Quickview">
            <i class="icon icon-eye"></i>
          </a>
        </div>
      </div><!-- /.product-hover -->

    </div><!-- /.product-media -->

    <div class="product-body">
      <h2 class="product-name">

        <a href="/admin/products/new" title="EXAMPLE PRODUCT">EXAMPLE PRODUCT</a> 
      </h2><!-- /.product-product -->

      <div class="product-category">

        <span>Shirt</span>


      </div><!-- /.product-category -->

      <div class="product-price">
        <span class="amout">


          <span><span class="money" data-currency-usd="$259.00">$259.00</span></span>
          <del class="sale-price"><span class="money" data-currency-usd="$300.00">$300.00</span></del> 
        </span>

      </div><!-- /.product-price -->
    </div><!-- /.product-body -->


  </div>
</div>
<div class="product product-grid product-item clearfix">
  <div id="product-4393761219" class="product-inner" data-publish-date="2015-12-22 05:06:00 -0500">
    <div class="product-media ">
      <div class="product-thumbnail">
        <a href="/admin/products/new" title="">
          <img class="product-featured-image current" src="{{'p8.png'| asset_url}}" alt="EXAMPLE PRODUCT">
          <img class="" src="{{'p2.png'| asset_url}}" alt="EXAMPLE PRODUCT">
        </a>
      </div><!-- /.product-thumbnail -->


      <div class="product-hover">
        <div class="product-actions">
          <form action="/cart/add" method="post" class="variants" id="AddToCartForm-4393761219" enctype="multipart/form-data">    

            <a class="btn-select-option awe-button product-add-cart" data-toggle="tooltip" title="" href="/admin/products/new" data-original-title="Select options"><i class="icon icon-shopping-bag"></i></a>


          </form>  

          <a class=" awe-button" href="/admin/products/new" data-toggle="tooltip" title="" data-original-title="Add to whistlist">
            <i class="icon icon-star"></i>
          </a>



          <a href="/admin/products/new" id="gin-lane-greenport-cotton-shirt-4" class="awe-button product-quick-view " data-toggle="tooltip" title="" data-original-title="Quickview">
            <i class="icon icon-eye"></i>
          </a>
        </div>
      </div><!-- /.product-hover -->

    </div><!-- /.product-media -->

    <div class="product-body">
      <h2 class="product-name">

        <a href="/admin/products/new" title="EXAMPLE PRODUCT">EXAMPLE PRODUCT</a> 
      </h2><!-- /.product-product -->

      <div class="product-category">

        <span>Shirt</span>


      </div><!-- /.product-category -->

      <div class="product-price">
        <span class="amout">


          <span><span class="money" data-currency-usd="$259.00">$259.00</span></span>
          <del class="sale-price"><span class="money" data-currency-usd="$300.00">$300.00</span></del> 
        </span>

      </div><!-- /.product-price -->
    </div><!-- /.product-body -->


  </div>
</div>


    