{% unless current_collection == blank %}
{% assign current_collection = collection %}
{% endunless %}
{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}

<div class="product product-grid product-item clearfix">
  <div id="product-{{ product.id }}" class="product-inner" data-publish-date="{{ product.published_at }}">
    <div class="row">
      <div class="product-container">
      <div class="col-md-6">
        <div class="product-media " >
          <div class="product-thumbnail">
            <a href="{{ product.url | within: collection }}" title="">
              <img class="product-featured-image" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">

              {% for image in product.images %}
              {% if forloop.last == true %}
              <img class="product-featured-image" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
              {%endif%}

              {% endfor %}

            </a>
          </div><!-- /.product-thumbnail -->
          {% if sold_out%}
          <div class="product-soldout">
            <div class="fp-table">
              <div class="fp-table-cell">
                <span class="soldout">{{sold_out_text}}</span>
              </div>
            </div>
          </div>

          {% endif %}

          {%if settings.show_sale_label%}
          {% if on_sale %}
          <span class="product-label sale">
            <span>{{'collections.products.sale'|t}}</span>
          </span>
          {% endif %}
          {% endif %}
          {%if settings.show_new_label%}
          <span class="product-label new" style="display: none;">
            <span>{{'collections.products.new'|t}}</span>
          </span>
          {%endif%}

        </div><!-- /.product-media -->
      </div>
      <div class="col-md-6">
        <div class="product-body">
          <h2 class="product-name">

            <a href="{{ product.url | within: collection }}" title="{{ product.title }}" >{{ product.title }}</a>
          </h2><!-- /.product-product -->


          <div class="product-description">

            {{product.description | strip_html | truncatewords: 40 }}


            {%if settings.show_special_featured %}
            <div class="product-features">
              <h3>{{settings.show_special_featured_title}}</h3>
              <ul>
                {% if product.metafields.c_f.feature_1 %}<li>{{ product.metafields.c_f.feature_1 }}{% endif %}</li>
                {% if product.metafields.c_f.feature_2 %}<li>{{ product.metafields.c_f.feature_2 }}{% endif %}</li>
                {% if product.metafields.c_f.feature_3 %}<li>{{ product.metafields.c_f.feature_3 }}{% endif %}</li>
                {% if product.metafields.c_f.feature_4 %}<li>{{ product.metafields.c_f.feature_4 }}{% endif %}</li>
                {% if product.metafields.c_f.feature_5 %}<li>{{ product.metafields.c_f.feature_5 }}{% endif %}</li>
                {% if product.metafields.c_f.feature_6 %}<li>{{ product.metafields.c_f.feature_6 }}{% endif %}</li>
                {% if product.metafields.c_f.feature_7 %}<li>{{ product.metafields.c_f.feature_7 }}{% endif %}</li>
                {% if product.metafields.c_f.feature_8 %}<li>{{ product.metafields.c_f.feature_8 }}{% endif %}</li>
                {% if product.metafields.c_f.feature_9 %}<li>{{ product.metafields.c_f.feature_9 }}{% endif %}</li>
              </ul>
            </div><!-- /.product-features -->
            {%endif%}

          </div><!-- /.product-description -->

        <div class="cta">
          <div class="">
            <form action="/cart/add" method="post" class="variants" id="AddToCartForm-{{ product.id }}" enctype="multipart/form-data">
              {% if sold_out %}
              <a class="btn-select-option awe-button product-add-cart btn_buy-now btn btn-lg btn-primary" title="{{settings.product_add_cart}}" href="{{product.url}}" >Buy Now</a>
              {% else %}

              {% if product.available and product.variants.size > 1 %}

              <a class="btn-select-option awe-button product-add-cart btn_buy-now btn btn-lg btn-primary" title="{{settings.product_options}}" href="{{product.url}}" >Buy Now</a>
              {% else %}
              <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
              <a class="btn-addToCart awe-button product-add-cart btn_buy-now btn btn-lg btn-primary" title="{{settings.product_add_cart}}" href="javascript:void(0)" >Buy Now</a>
              {% endif %}

              {% endif %}
            </form>
          </div>

          <a href="{{ product.url | within: collection }}" class="btn btn-lg ghost">
              Learn More
          </a>
        </div><!-- /.cta-->

        </div><!-- /.product-body -->
      </div>
      </div> <!-- ./ product-container -->
     </div><!-- /.row -->

  </div>

</div><!-- /.product -->
