
<section>
  <div class="container">
    {%capture trending_title%}trending2_title{%endcapture%}
{%capture trending_subtitle%}trending2_subtitle{%endcapture%}

<div class="home-trending padding-vertical-50">
  <div class="section-header center">
    <h2 class="upper margin-bottom-20">{{settings[trending_title]}}</h2>
    <p>{{settings[trending_subtitle]}}</p>
  </div><!-- ./section-header -->

    <div class="row">

      
      <div class="col-md-6 col-sm-12 margin-bottom-30">
        <div class="awe-media home-cate-media">
          <div class="awe-media-header">
            <div class="awe-media-image">
              <img src="{{'trending2_img_1.jpg'|asset_url}}" alt="">
            </div><!-- /.awe-media-image -->

            <div class="awe-media-overlay overlay-dark-50 fullpage">
              <div class="content">

                <div class="fp-table text-center">
                  <div class="fp-table-cell">
					<h4 class="upper margin-bottom-40">{{settings.trending2_1_title}}</h4>
                    <h2 class="upper margin-bottom-40">{{settings.trending2_1_text}}</h2>
             
                    <a href="{{settings.trending2_1_url}}" class="btn btn-sm btn-outline btn-white ">{{settings.trending2_1_button}}</a>

                  </div>
                </div>

              </div>
            </div><!-- /.awe-media-overlay -->

          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->
      </div>
  <div class="col-md-6 col-sm-12">
    
    <div class="awe-media home-cate-media margin-bottom-30">
          <div class="awe-media-header">
            <div class="awe-media-image">
              <img src="{{'trending2_img_2.jpg'|asset_url}}" alt="">
            </div><!-- /.awe-media-image -->

            <div class="awe-media-overlay overlay-dark-50 fullpage">
              <div class="content">

                <div class="fp-table text-center">
                  <div class="fp-table-cell ">
			
                    <h2 class="upper margin-bottom-40">{{settings.trending2_2_title}}</h2>
                 
                    <a href="{{settings.trending2_2_url}}" class="btn btn-sm btn-outline btn-white ">{{settings.trending2_2_button}}</a>

                  </div>
                </div>

              </div>
            </div><!-- /.awe-media-overlay -->

          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->
    <div class="awe-media home-cate-media">
          <div class="awe-media-header">
            <div class="awe-media-image">
              <img src="{{'trending2_img_3.jpg'|asset_url}}" alt="">
            </div><!-- /.awe-media-image -->

            <div class="awe-media-overlay overlay-dark-50 fullpage">
              <div class="content">

                <div class="fp-table text-center">
                  <div class="fp-table-cell">
			
                    <h2 class="upper margin-bottom-40">{{settings.trending2_3_title}}</h2>
                 
                    <a href="{{settings.trending2_3_url}}" class="btn btn-sm btn-outline btn-white">{{settings.trending2_3_button}}</a>

                  </div>
                </div>

              </div>
            </div><!-- /.awe-media-overlay -->

          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->

  </div>
</div>
</div><!-- /.home-trending -->

  </div><!-- /.container -->
</section><!-- /section -->