
<section>
  <div class="container">
    {%capture trending_title%}trending_title{%endcapture%}
{%capture trending_subtitle%}trending_subtitle{%endcapture%}

<div class="home-trending padding-top-50">
  <div class="section-header center">
    <h2 class="upper margin-bottom-20">{{settings[trending_title]}}</h2>
    <p>{{settings[trending3_subtitle]}}</p>
  </div><!-- ./section-header -->

    <div class="row">

      
      <div class="col-md-6 col-sm-12 margin-bottom-30">
        <div class="awe-media home-cate-media">
          <div class="awe-media-header">
            <div class="awe-media-image">
              <img src="{{'trending3_img_1.jpg'|asset_url}}" alt="">
            </div><!-- /.awe-media-image -->

            <div class="awe-media-overlay2 fullpage">
              <div class="content banner-trending-top">

                <div class="fp-table ">
                  <div class="fp-table-cell right padding-right-30">
					<h5 class="upper">{{settings.trending3_1_title}}</h5>
                    <h2 class="upper margin-top-5">{{settings.trending3_1_text}}</h2>
             
                    <a href="{{settings.trending3_1_url}}" class="btn btn-sm btn-outline btn-black margin-top-40">{{settings.trending3_1_button}}</a>

                  </div>
                </div>

              </div>
            </div><!-- /.awe-media-overlay -->

          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->
      </div>
      <div class="col-md-6 col-sm-12 margin-bottom-30">
        <div class="awe-media home-cate-media">
          <div class="awe-media-header">
            <div class="awe-media-image">
              <img src="{{'trending3_img_2.jpg'|asset_url}}" alt="">
            </div><!-- /.awe-media-image -->

             <div class="awe-media-overlay2 fullpage">
              <div class="content banner-trending-top">

                <div class="fp-table ">
                  <div class="fp-table-cell left padding-left-30">
					<h5 class="upper ">{{settings.trending3_2_title}}</h5>
                    <h2 class="upper margin-top-5">{{settings.trending3_2_text}}</h2>
             
                    <a href="{{settings.trending3_2_url}}" class="btn btn-sm btn-outline btn-black  margin-top-40">{{settings.trending3_2_button}}</a>

                  </div>
                </div>

              </div>
            </div><!-- /.awe-media-overlay -->

          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->
      </div>
  <div class="col-md-4 col-sm-12">
    
    <div class="awe-media home-cate-media margin-bottom-30">
          <div class="awe-media-header trendingv3">
            <div class="awe-media-image">
              <img src="{{'trending3_img_3.jpg'|asset_url}}" alt="">
            </div><!-- /.awe-media-image -->

            <div class="awe-media-overlay2 fullpage">
              <div class="content banner-trending">

                <div class="fp-table text-center">
                  <div class="fp-table-cell title">
			
                    <h2 class="upper "><a class="border-text-banner" href="{{settings.trending3_3_url}}">{{settings.trending3_3_title}}</a></h2>

                  </div>
                </div>

              </div>
            </div><!-- /.awe-media-overlay -->

          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->

  </div>
 <div class="col-md-4 col-sm-12">
    
    <div class="awe-media home-cate-media margin-bottom-30">
          <div class="awe-media-header trendingv3">
            <div class="awe-media-image">
              <img src="{{'trending3_img_4.jpg'|asset_url}}" alt="">
            </div><!-- /.awe-media-image -->

            <div class="awe-media-overlay2 fullpage">
              <div class="content banner-trending">

                <div class="fp-table text-center">
                  <div class="fp-table-cell title">
			
                    <h2 class="upper "><a class="border-text-banner" href="{{settings.trending3_4_url}}">{{settings.trending3_4_title}}</a></h2>

                  </div>
                </div>

              </div>
            </div><!-- /.awe-media-overlay -->

          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->

  </div>
<div class="col-md-4 col-sm-12">
    
    <div class="awe-media home-cate-media margin-bottom-30">
          <div class="awe-media-header trendingv3">
            <div class="awe-media-image">
              <img src="{{'trending3_img_5.jpg'|asset_url}}" alt="">
            </div><!-- /.awe-media-image -->

            <div class="awe-media-overlay2 fullpage">
              <div class="content banner-trending">

                <div class="fp-table text-center">
                  <div class="fp-table-cell title">
			
                    <h2 class="upper "><a class="border-text-banner" href="{{settings.trending3_5_url}}">{{settings.trending3_5_title}}</a></h2>

                  </div>
                </div>

              </div>
            </div><!-- /.awe-media-overlay -->

          </div><!-- /.awe-media-header -->
        </div><!-- /.awe-media -->

  </div>
</div>
</div><!-- /.home-trending -->

  </div><!-- /.container -->
</section><!-- /section -->