<div class="error-404 background background-color-dark background-image-main-404" style="background-image:url('{{'main-404.jpg'|asset_url}}')
                                                                                                                                            ">
  <div class="fp-table">
    <div class="fp-table-cell center">

      <div class="container">
        <div class="margin-bottom-40">
          <h1><span class="page">{{'general.404.page'|t}}</span><span>{{'general.404.404'|t}}</span></h1>
          <h2>{{'general.404.title'|t}}</h2>
        </div>
        <p>
          <span>{{'general.404.subtitle'|t}}</span>
          <a href="/" class="btn btn-lg btn-primary margin-left-10">{{'general.404.return'|t}}</a>
        </p>
      </div><!-- /.container -->

    </div>
  </div>
</div><!-- /.error-404 -->