
<div class="main-header background background-image-heading-{{ page.heading }}" style="background-image: url({{'heading-products.jpg' | asset_url }})">
  <div class="container">
    <h1>{{'list_collection.title'|t}}</h1>
  </div>
</div>
<div id="breadcrumb">
  <div class="container">
   
      <ol class="breadcrumb">
        <li><a href="/">{{ 'general.breadcrumbs.home' | t }}</a></li>
        <li class="active"><span>{{'list_collection.title'|t}}</span></li>
      </ol>
   
  </div>
</div>

<div class="container">

  <div class="list-category row">
    {% comment %}
    Loop through each collection, except 'frontpage'
    {% endcomment %}

    {% for collection in collections %}
    {% unless collection.handle == 'frontpage' %}
    {% include 'collection-grid-item' %}
    {% endunless %}
    {% endfor %}
  </div>


</div><!-- /.container -->

