{% layout none %}
<!DOCTYPE html>
<!--[if IE 8]><html class="lt-ie9" lang="en"><![endif]-->
<html class="modern" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ shop.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    {{ content_for_header }}
    
     {{ 'bootstrap.scss.css' | asset_url | stylesheet_tag }}
    {{ 'main.scss.css' | asset_url | stylesheet_tag }}

    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
    {{ 'modernizr.min.js' | asset_url | script_tag }}
    

    <!-- CSS ================================================== -->
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {% if settings.header_font contains "PT Serif" or settings.body_font contains "PT Serif" %}
    <link href='//fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    {% endif %}
    {% if settings.header_font contains "Source Sans Pro" or settings.body_font contains "Source Sans Pro" %}
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
    {% endif %}
    {% if settings.header_font contains "Cabin" or settings.body_font contains "Cabin" %}
    <link href='//fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
    {% endif %}
    {% if settings.header_font contains "Open Sans Condensed" or settings.body_font contains "Open Sans Condensed" %}
    <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    {% endif %}
    {% if settings.header_font contains "Karla" or settings.body_font contains "Karla" %}
    <link href='//fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
    {% endif %}
    {% if settings.header_font contains "Work Sans" or settings.body_font contains "Work Sans" %}
    <link href='//fonts.googleapis.com/css?family=Work+Sans:400,700' rel='stylesheet' type='text/css'>
    {% endif %}
    {% if settings.header_font contains "Roboto" or settings.body_font contains "Roboto" %}
    <link href='//fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    {% endif %}
    {% if settings.header_font contains "Lora" or settings.body_font contains "Lora" %}
    <link href='//fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
    {% endif %}
    {% if settings.header_font contains "Arimo" or settings.body_font contains "Arimo" %}
    <link href='//fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
    {% endif %}

  </head>

  <body class="template-password margin-top-60">
    <div class="row">
      <div class="col-sm-4 col-centered ">
        <div class="password-topbar"></div>
        <div class="password-page__wrapper text-center">
          {% comment %}
          Link to password modal
          {% endcomment %}


          <header class="password-page__header" role="banner">
            {% comment %}
            Site name or logo
            {% endcomment %}
            {% if settings.use_logo %}
            <img class="logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
            {% else %}
            <h1 class="h2">
              <span>{{ shop.name }}</span>
            </h1>
            <hr class="hr--small">
            {% endif %}
          </header>

          <div class="password-page__main" role="main">

            <div class="password-page__main__inner">

              {% comment %}
              Opening soon text
              {% endcomment %}
              <h1 class="password-page__hero">{{ 'general.password_page.opening_soon' | t }}</h1>

              {% unless shop.password_message == blank %}
              <div class="password-page__message">
                <p>{{ shop.password_message }}</p>
              </div>
              <hr class="hr--small">
              {% endunless %}

              {% comment %}
              Signup form
              {% endcomment %}
              <div class="password-page__login-form">
                {% form 'customer' %}

                {{ form.errors | default_errors }}
                {% if form.posted_successfully? %}
                <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
                {% else %}
                <h5>{{ 'general.password_page.signup_form_heading' | t }}</h5>
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
                <div class="form-group">
                  <input type="text" name="contact[email]" class="form-control dark" id="email" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" autofocus>
                  <input type="submit" name="commit" class="btn btn-lg btn-primary margin-top-10" value="{{ 'general.password_page.signup_form_submit' | t }}">
                </div>
                {% endif %}

                {% endform %}
              </div>

              {% comment %}
              Share homepage URL
              Shared text is from the store meta description
              {% endcomment %}


            </div>

          </div>

          <footer class="password-page__footer" role="contentinfo">
            {% capture shopify %}
            <a class="shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">

              <span class="shopify-name">Shopify</span>
            </a>
            {% endcapture %}
            {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
          </footer>

        </div>


        <script>
          /*============================================================================
      Social Icon Buttons v1.0
      Author:
        Carson Shold | @cshold
        http://www.carsonshold.com
      MIT License
    ==============================================================================*/
          window.timberSocial = window.timberSocial || {};

          timberSocial.cacheSelectors = function () {
            timberSocial.cache = {
              $shareButtons: $('.social-sharing'),
            }
          };

          timberSocial.init = function () {
            timberSocial.cacheSelectors();
            timberSocial.sliders();
          };

          timberSocial.socialSharing = function () {

            timberSocial.cacheSelectors();

            // General selectors
            var $buttons = timberSocial.cache.$shareButtons,
                $shareLinks = $buttons.find('a'),
                permalink = $buttons.attr('data-permalink');

            // Share button selectors
            var $fbLink = $('.share-facebook'),
                $twitLink = $('.share-twitter'),
                $pinLink = $('.share-pinterest'),
                $googleLink = $('.share-google');

            if ( $fbLink.length ) {
              $.getJSON('https://graph.facebook.com/?id=' + permalink + '&callback=?', function(data) {
                if (data.shares) {
                  $fbLink.find('.share-count').text(data.shares).addClass('is-loaded');
                } else {
                  $fbLink.find('.share-count').remove();
                }
              });
            };

            if ( $twitLink.length ) {
              $.getJSON('https://cdn.api.twitter.com/1/urls/count.json?url=' + permalink + '&callback=?', function(data) {
                if (data.count > 0) {
                  $twitLink.find('.share-count').text(data.count).addClass('is-loaded');
                } else {
                  $twitLink.find('.share-count').remove();
                }
              });
            };

            if ( $pinLink.length ) {
              $.getJSON('https://api.pinterest.com/v1/urls/count.json?url=' + permalink + '&callback=?', function(data) {
                if (data.count > 0) {
                  $pinLink.find('.share-count').text(data.count).addClass('is-loaded');
                } else {
                  $pinLink.find('.share-count').remove();
                }
              });
            };

            if ( $googleLink.length ) {
              // Can't currently get Google+ count with JS, so just pretend it loaded
              $googleLink.find('.share-count').addClass('is-loaded');
            }

            // Share popups
            $shareLinks.on('click', function(e) {
              e.preventDefault();
              var el = $(this),
                  popup = el.attr('class').replace('-','_'),
                  link = el.attr('href'),
                  w = 700,
                  h = 400;

              // Set popup sizes
              switch (popup) {
                case 'share-twitter':
                  h = 300;
                  break;
                case 'share-fancy':
                  w = 480;
                  h = 720;
                  break;
                case 'share-google':
                  w = 500;
                  break;
              }

              window.open(link, popup, 'width=' + w + ', height=' + h);
            });
          }

          {% if settings.social_sharing_products or settings.social_sharing_blog %}
          $(timberSocial.socialSharing)
          {% endif %}
        </script>

       

        
        <div id="LoginModal" class="password-page__login-form text-center mfp-hide">
          <h5>{{ 'general.password_page.login_form_heading' | t }}</h5>
          {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
          <div class=" form-group">
            <input type="password" name="password" id="password" class="input-group form-control dark" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>

            <div class="">
              <input type="submit" name="commit" class="btn btn-lg btn-primary margin-top-10" value="{{ 'general.password_page.login_form_submit' | t }}">
            </div>

          </div>
          {% endform %}
          <p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>

      </div>
    </div>
  </body>
</html>